// Utility
@border: @slate-30;

@slate-10: #F4F4F2;
@slate-20: #D8D7D3;
@slate-30: #BCB9B4;
@slate-40: #837E77;
@slate-50: #676158;
@slate-60: #524E46;
@slate-70: #3E3A35;
@slate-80: #292723;
@slate-90: #151312;
@slate-100: #000000;

// Brand colors