@import './colors.less';

.panes-container {
  display: flex;
  width: 100%;
  height: 80vh;
  background-color: @tertiary-10;
  
  .pane-orientation {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    
    &--column {
      flex-flow: column;
    }
  }
  
  .pane {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    background-color: @meta-30;
    border: 3px solid @meta-30;
    padding: 0.5rem;

    &.open {
      display: flex;
    }

    canvas {
      width: 100%;
      height: 100%;
    }
  }
}